body {
    background-color: rgb(41, 122, 41);
    margin: 0%;
}
h1 {
    position:relative;
    font-size: 300%;
    text-align: center;
    margin: 0%;
    top: 50px;
}

.relative {
    position: relative;
    z-index: 2;
}
.container {
    position: relative;
    margin: 5% 20%;
    height: auto;
    width: auto;
    text-align: center;
    top: 400px;

}

.balls {
    border-radius: 50%;
    border: 2px solid black;
    height: 75px;
    width: 75px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#red-ball {
    background-color: rgb(179, 15, 15);
}

#yellow-ball {
    background-color: rgb(243, 243, 78);
}

#green-ball {
    background-color: green;
}

#brown-ball {
    background-color: rgba(143, 9, 9, 0.685);
}

#blue-ball {
    background-color: rgb(55, 55, 218);
}

#pink-ball {
    background-color: rgb(252, 134, 154);
}

#black-ball {
    background-color: black;

}

img {
    position: absolute;
    z-index: -1;
    object-fit: fill;
    width: 100%;
}

.ball-count {
    border-radius: 50%;
    margin: auto;
}